.stats-page-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: #EDEDED;
  width: 580px;
}


.stats-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

.stats-icon {
    width: 24px;
    height: 24px;
    color: #EDEDED;
}

.stats-title {
    font-size: 24px;
    font-weight: 700;
    color: #EDEDED;
      letter-spacing: -0.4px;
}


.stats-container {
  display: flex;
  flex-direction: column;
  min-width: 580px;
  margin-top: 32px;
}

/* .general-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
} */



.general-stats {
  display: flex;

  gap: 24px;
  width: 100%;
  justify-content: space-evenly;
}

.general-stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
  min-height: 128px;
  /* min-width: 185px; */
  border-radius: 12px;
  background-color: #131517;
  border: 1px solid #232526;
}

.general-stats-card-text {
  font-size: 14px;
  font-weight: 400;
  color: #EDEDED;
}

.general-stats-card-number {
  font-size: 22px;
  font-weight: 600;
  color: #EDEDED; 
  margin-bottom: 8px;
}

.completed-tasks-header-text, .remaining-tasks-header-text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.4px;
}


.task-completed-card, .task-remaining-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 12px 32px;
  background-color: transparent;
  border-radius: 12px;
    border: 1px solid #232526;
    background-color: #181A1C;
}

.task-remaining-card {
background-color: #131517;
}
  

.task-completed-info, .task-remaining-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.task-completed-times, .task-remaining-times {
  display: flex;
  gap: 48px;
  justify-content: center; /* Added to center horizontally */
}

.task-completed-time,
.task-completed-duration,
.task-remaining-time,
.task-remaining-duration  {
  color: #EDEDED;
  font-size: 14px;
  font-weight: 500;
}


.completed-tasks-section, .remaining-tasks-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1014px;
  margin-top: 64px;
}

.completed-tasks-header, .remaining-tasks-header {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.completed-tasks-header-icon, .remaining-tasks-header-icon {
  width: 24px;
  height: 24px;
  color: #EDEDED;
}

.tasks-completed-container, .tasks-remaining-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.task-completed-card-emoji, .task-remaining-card-emoji {
  font-size: 20px;
}

.task-completed-card-title, .task-remaining-card-title {
  font-size: 14px;
  font-weight: 500;
  color: #EDEDED;
  margin: 0;
}


.tasks-header-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.right-columns {
  display: flex;
  gap: 40px;
  color: #999;
  font-size: 14px;
  margin-bottom: 8px;
  justify-content: center; /* Added to center horizontally */
}

  .no-completed-tasks, .no-remaining-tasks {
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  }

.logo-icon{
    width: 20px !important;
  }

.left-column {
  width: 200px;
}


@media screen and (max-width: 625px) {

  .stats-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
  transform: scale(0.9);
  transition: 0.3s all ease-in-out;
}

}