.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100vw;
  color: #ededed;
  font-family: "Manrope", sans-serif;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 22px;
  position: relative;
  z-index: 9;
}
.title-container * {
  position: relative;
  z-index: 1;
}

.title-container:after {
  content: "";
  height: 5rem;
  width: 12rem;
  filter: blur(5rem);
  background: linear-gradient(135deg, #ff7849, #ff7849);
  position: absolute;
  opacity: 0.5;
  transform: translateX(-50%) skew(40deg);
  left: 50%;
  z-index: 0;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #ededed;
  margin-bottom: 18px;
  letter-spacing: -1px;
  text-align: center;
  word-spacing: 3px;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}

.thank-you-logo-icon {
  width: 47px !important;
  height: 40px !important;
  margin-top: -24px;
}

.thank-you-reddit {
  display: flex;
  flex-direction: column;
  /* align-items: left;
  justify-content: start; */
  max-width: 1152px;
  margin-top: 80px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 32px;
  padding: 2px 32px 32px 32px;
}

.thank-you-reddit-title {
  display: flex;
  gap: 8px;
  justify-content: start;
  margin-top: 24px;
  width: 100%;
  align-items: center;
}

.thank-you-reddit-title-text {
  font-size: 24px;
  font-weight: 700;
}

.thank-you-reddit-title-icon {
  width: 24px;
  height: 24px;
}

.thank-you-reddit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  max-width: 600px;
  gap: 32px 80px;
}

.thank-you-reddit-link {
  color: #999999;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;

  font-weight: 600;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 8px;
  transition: color 0.3s;
  word-break: break-all;
  text-align: left;
  display: flex;
  min-width: 7rem;
}

.thank-you-reddit-link:hover {
  color: #ff7849;
  text-decoration: underline;
}
